################################################################################
# Il file gitignore è stato creato automaticamente da Microsoft(R) Visual Studio.
################################################################################

/AttributeLogger/bin/
/AttributeLogger/obj/
/.vs/AttributeLogger/CopilotIndices/
/.vs/AttributeLogger/v17/